body {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
    font-family: 'Arial', sans-serif;
    color: white;
    background-color: #1a1a1a;
}


.headers {
    justify-content: space-between;
    display: flex;
    list-style: none;
    padding: 10px 20px;
}

.headers ul {
    list-style: none;
    display: flex;
    gap: 15px;
    margin: 0;
    padding: 0;
}

.headers a {
    text-decoration: none;
    font-size: 20px;
    border: 2px solid white;
    padding: 5px 15px;
    color: white;
    border-radius: 10px;
    transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
}

.headers a:hover {
    background-color: #8a0a24;
    color: #ffcc00;
}

.head {
    border-radius: 10px;
    background-color: #6d071a;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    margin: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.head img {
    width: 75px;
    height: 75px;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.head img:hover {
    transform: scale(80%);
}

.head a:hover {
    transform: scale(0.9);
}

/*Tail part*/

    .tail {
        display: flex;
        justify-content: center;
        background-color: #6d071a;
        padding: 0px;
        margin: 10px;
        border-radius: 10px;
    
     
    }
    
    
    .tail p {
        color: white;
    }