/* this css is for the login, register and the presentation page */

    /*head part*/

    

    .title h1 {
        text-align: center;
         color: #FFBF09;
        margin-bottom: 20px;
        background-color: #6d071a;
        border-radius: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 10em; margin-right: 10em;
        padding: 40px;
    }
    
    
    
    
    
        /*body part*/

/* Prendre toute la hauteur de l'écran */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

/* Permet à la page de s'étirer avec pied de page collé en bas */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: Arial, sans-serif;
}

.Centre{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url('VolcanBack.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    align-items: center;
}


    
    
    
.info{
    text-align: center;
    padding: 20px;
    background-color: #6d071a81;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    margin: 3% 5% 5% 5%;
    font-size: large;



}

.password {
  display: flex;
  align-items: center;
  width: 100%;

}

.password img{
    position: absolute;
    width: 20px;  
    height: 20px;
    margin: 0;
    padding: 0;
    gap: 0;
    transform: translateX(1500%);
    cursor: pointer;
}

.password input {
    flex-grow: 1;          
    padding: 5px;
    border-radius: 4px;

}

.input-group{
    display: flex;
    flex-direction: column;
    justify-content: center;

}
    
.input-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.input-group input {
    padding: 5px;
    box-sizing: border-box;
    border: 1px solid #535353 ;
    border-radius: 4px;
    margin-left: 20px;
    margin-right: 20px;
    

}

.button-group button {
    padding: 10px 20px;
    background-color: #FFBF09;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.button-group button:hover {
    background-color: #e6ac00;
    transform: scale(90%);
}




.changep p,pre{
    text-align: center;
    display: inline;
}

#log{
    padding: 5%;
}



/* search bar for  */
.search-bar {
    text-align: center;
    margin-top: 20px;
}

.search-bar input {
    padding: 8px;
    width: 60%;
    border: 1px solid #535353;
    border-radius: 4px;
    font-size: 16px;
}

.search-bar button {
    padding: 8px 12px;
    background-color: #FFBF09;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.search-bar button:hover {
    background-color: #e6ac00;
    transform: scale(90%);
}



