



.Centre {
    background-image: url(VolcanBack.jpg);
    min-height: 80vh;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    overflow: hidden;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.Centre::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.Centre pre {
    text-decoration: none;
    color: white;
    font-size: 24px;
    z-index: 2;
    animation: fadeIn 2s ease-in-out;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}



.bottom {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    background-color: #6d071a;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
}

.bottom p {
    color: white;
    font-size: 18px;
    
}

.Centre h1 {
    font-size: 3

}
