
.head {
    border-radius: 10px;
    background-color: #6d071a;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}
.société {
    justify-content: space-between;
    display: flex;
    list-style: none;
    padding: 10px 20px;
}

.société ul {
    list-style: none;
    display: flex;
    gap: 15px;
    margin: 0;
    padding: 0;
}

.société a {
    text-decoration: none;
    font-size: 20px;
    border: 2px solid white;
    padding: 5px 15px;
    color: white;
    border-radius: 10px;
    transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
}

.société a:hover {
    background-color: #8a0a24;
    color: #ffcc00;
}


 
.tail {
    display: flex;
    justify-content: center;
    background-color: #6d071a;
    padding: 10px;
    border-radius: 10px;
}


.tail p {
    color: white;
}



.head img{
    width: 75px;
    height: 75px;
    margin-left: 10px;  
    margin-top: 10px;   
    position: relative; 
    top: 0px;
    left: -1.7em;
    border-radius: 20px;          
    transition: transform 0.3s ease;
}

.head img:hover {
    transform: scale(80%);
}

.head a:hover {
    transform: scale(0.9);
}


.table {
    display: flex;
    gap: 20px;
    
}

.profile {
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.Principal {
    background-color: #d1d1d1; 
    margin-bottom: 20px;
    flex-grow: 1;
    gap: 20px;
    min-height: 75vh;
    border-radius: 10px;
    font-size: large;
    color: #000000; 
    border: #000000;
    
}
.research-users{
    margin-left: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
}
.search-box {
    width: 300px;
    padding: 5px;
    border: 2px solid #ccc;
    border-radius: 10px;
    outline: none;
    font-size: 16px;
}
.search-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px;
    margin-left: 1em;
    border-radius: 10px;
    cursor: pointer;
    
}
.search-button:hover {
    background-color: #0056b3;
    scale: 90%;
}
.stat-box,
.users-tool{
    margin-left: 1em;
    border: 2px solid #000000;
    border-radius: 10px;
    width: 35em;
    margin: 1em;
    
}
.stat-box{
    display: flex;
}

.stat-box h2, p,
.users-tool table{
    margin-left: 1em;
    
}



.side {
    background-color: #6d071a; 
    width: 10em;
    margin-bottom: 20px;
    border-radius: 10px;
    
    display: grid;
    
}
.side a{
    text-decoration: none;
    color: #6d071a;
}
.side button{
    margin-top: 33px;
    margin-left: 1.1em;
    margin-right: 1em;
    background-color: #d1d1d1;
    max-width: 80%;
    max-height: 90px;
    border-radius: 10px;
}



