body {

    background-image: url(MeilleurQualiHolly.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;

}

.société h1 {
    margin-top: 20px;
    font-size: 50px;
    color: rgb(93, 223, 255);
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-style: italic;
    

}
.société {

    justify-content: space-between;
    display: flex;
    list-style:none;

}

.Centre pre {

    border: 2px solid black;
   
    text-decoration: none;    
    color: black;
    font-size: 20px;

}
.société ul {
    list-style: none ;
    display: flex;
}


.société a {
    text-decoration: none;
    font-size: 20px;
    border: 2px solid black;
    padding: 1px;             
    text-decoration: none;    
    color: black;
    margin-left: 10px;
    
}
.head a:hover {
    transform: scale(90%);
}

.head img {
    width: 50px;
    height: 50px;
    margin-left: 10px;
    margin-top: 10px;
    position: relative;
    top: 5px;
    left: -5px;
    border-radius: 10px;
}

.head a:hover {
    transform: scale(90%);
}
.head {

 display: flex;
 justify-content: space-between;
}
.head img {
    width: 50px;
    height: 50px;
    margin-left: 10px;
    margin-top: 10px;
    position: relative;
    top: 5px;
    left: -5px;
    border-radius: 10px;
}	
