.head ul {
    display: flex;
    justify-content: space-between;
    background-color: #6d071a; 
    padding: 10px;
    list-style: none;
    font-size: xx-large;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border-radius: 10px;
    margin-top: 0;
    margin-bottom: 20px;
}


 
.tail {
    display: flex;
    justify-content: center;
    background-color: #6d071a;
    padding: 10px;
    border-radius: 10px;
}

.head p,
.tail p {
    color: white;
}


.head a:hover{
    transform: scale(90%);
}
.head img{
    width: 75px;
    height: 75px;
    margin-left: 10px;  
    margin-top: 10px;   
    position: relative; 
    top: 0px;
    left: -5px;
    border-radius: 10px;          
}


.table {
    display: flex;
    gap: 20px;
    
}

.side {
    background-color: #6d071a; 
    width: 100px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.pp img {
    width: 100px;
    height: 100px;
    margin-left: 10px;
    border-radius: 5px; 
}

.profile {
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.Principal {
    background-color: #c6c4c4; 
    margin-bottom: 20px;
    flex-grow: 1;
    gap: 20px;
    min-height: 75vh;
    border-radius: 10px;
    font-size: large;
    color: #000000; 
    
}

.change button{
    width: 3em;
    height: 3em;
    margin-left: 10px;  
    margin-top: 10px;   
    position: relative; 
    top: 0px;
    left: 185vh;
    border-radius: 10px;    
}
.change img{
    width: 2em;
    height: 3em;
    
     
    
    border-radius: 10px;      
}
