.head ul {
    display: flex;
    justify-content: space-between;
    background-color: #6d071a; 
    padding: 10px;
    list-style: none;
    font-size: xx-large;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border-radius: 10px;
    margin-top: 0;
    margin-bottom: 20px;
}

.société {
    justify-content: space-between;
    display: flex;
    list-style: none;
    padding: 10px 20px;
}

.société ul {
    list-style: none;
    display: flex;
    gap: 15px;
    margin: 0;
    padding: 0;
}

.société a {
    text-decoration: none;
    font-size: 20px;
    border: 2px solid white;
    padding: 5px 15px;
    color: white;
    border-radius: 10px;
    transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
}

.société a:hover {
    background-color: #8a0a24;
    color: #ffcc00;
}

 
.tail {
    display: flex;
    justify-content: center;
    background-color: #6d071a;
    padding: 10px;
    border-radius: 10px;
}


.tail p {
    color: white;
}


.head a:hover{
    transform: scale(90%);
}
.head img{
    width: 75px;
    height: 75px;
    margin-left: 10px;  
    margin-top: 10px;   
    position: relative; 
    top: 0px;
    left: -5px;
    border-radius: 10px;          
}


.table {
    display: flex;
    gap: 20px;
    
}

.side {
    background-color: #6d071a; 
    width: 100px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.pp img {
    width: 100px;
    height: 100px;
    margin-left: 10px;
    border-radius: 5px; 
}

.profile {
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.Principal {
    background-color: #c6c4c4; 
    margin-bottom: 20px;
    flex-grow: 1;
    gap: 20px;
    min-height: 75vh;
    border-radius: 10px;
    font-size: large;
    color: #000000; 
    
}
