*{
    list-style: none;
    text-decoration: none;

}
.title h1 {
    text-align: center;
}
.info form input{
    align-items: right;
}
.info form{
    text-align: center ;
}

.info form p{
    text-align: center ;
}


