
    /*head part*/

.head ul {
    display: flex;
    justify-content: space-between;
    background-color: #6d071a; 
    padding: 10px;
    list-style: none;
    font-size: xx-large;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border-radius: 10px;
    margin-top: 0;
    margin-bottom: 20px;

}
    
.head a:hover{
    transform: scale(90%);
}

.head img{
    width: 75px;
    height: 75px;
    margin-left: 10px;  
    margin-top: 10px;   
    position: relative; 
    top: 0px;
    left: -5px;
    border-radius: 20px;          
}

.title h1 {
    text-align: center;
     color: #FFBF09;
    margin-bottom: 20px;
    background-color: #6d071a;
    border-radius: 10px;
    margin:  5% 10% 5% 10%;
    padding: 40px;
}



    /*body part*/
body {
    font-family: Arial, sans-serif;
    background-color: white;
}



.info{
    text-align: center;
    padding: 20px;
    background-color: #D1D1D1;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    margin: 3% 5% 5% 5%;
    font-size: large;




}

.input-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.input-group input {
    padding: 5px;
    box-sizing: border-box;
    border: 1px solid #535353 ;
    border-radius: 4px;
    margin: auto;
}

.button-group button {
    padding: 10px 20px;
    background-color: #FFBF09;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.button-group button:hover {
    background-color: #e6ac00;
    transform: scale(90%);
}




.changep p,pre{
    text-align: center;
    display: inline;
}

#log{
    padding: 5%;
}


    /*Tail part*/

.tail {
    display: flex;
    justify-content: center;
    background-color: #6d071a;
    padding: 10px;
    border-radius: 10px;

 
}


.tail p {
    color: white;
}




